.about {
    margin-top: 50px;
    @include bp(mobile) {
        flex-direction: column;
    }

    &__text {
        width: 65%;
        margin-right: 5%;
        @include bp(mobile) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__image {
        width: 35%;
        img {
            width: 100%;
            border-radius: 10px;
        }
        @include bp(mobile) {
            width: 100%;
        }
    }
}