.menu {
  flex-direction: column;

  h2, h3 {
    text-align: center;
  }

  h3 {
    margin: 35px 0;
    font-weight: 700;
    letter-spacing: 2px;
    @extend %h3-brown;
    @include bp(tablet) {
      width: 100%;
      text-align: left;
      @include bp(mobile) {
        text-align: center;
      }
    }
  }
  p {
    margin: 10px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 30%;
    @include bp(tablet) {
      flex-wrap: wrap;
    }
  }
  &__list-item {
    font-weight: 700;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 75px;
      @include bp(tablet) {
        margin-right: auto;
      }
    }
    &-item-wrapper {
      margin-bottom: 50px;
      @include bp(tablet) {
        width: 50%;
        padding: 0 10px;
      }
    }
    @include bp(tablet) {
      @include bp(mobile) {
        margin: auto 20px;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item-wrapper {
        @include bp(mobile) {
          width: 100%;
        }
      }
    }
  }
  &__list-price {
    font-weight: 700;
  }
  p + &__list-price {
    margin: 20px 0;
  }
}